<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content}) }">
    <th:block th:fragment="content">
        <!-- 제목 및 등록 버튼 -->
        <h1 class="mt-4">
            Board List Page
            <span>
                <a th:href="@{/board/register}">
                    <button type="button" class="btn btn-outline-primary">Register</button>
                </a>
            </span>
        </h1>
        <!-- /제목 및 등록 버튼 -->
        <!-- 검색 창 -->
        <form action="/board/list" method="get" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1" />
                <div class="input-group-prepend">
                    <select class="form-select" name="type">
                        <option th:selected="${pageRequestDTO.type == null}">------</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                        <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목 + 내용 + 작성자</option>
                    </select>
                </div>
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}"/>
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" id="btn-search" type="button">
                        Search
                    </button>
                    <button class="btn btn-outline-secondary btn-clear" id="btn-clear" type="button">
                        Clear
                    </button>
                </div>
            </div>
        </form>
        <!-- /검색 창 -->
        <!-- 목록 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Bno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">Regdate</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dto: ${result.dtoList}">
                    <th scope="row">
                        <a th:href="@{ /board/read(
                                            bno = ${dto.bno},
                                            page = ${result.page},
                                            type = ${pageRequestDTO.type},
                                            keyword = ${pageRequestDTO.keyword}
                                            ) }">
                            [[${dto.bno}]]
                        </a>
                    </th>
                    <td>[[${dto.title}]] ----- [ <b th:text="${dto.replyCount}"></b> ]</td>
                    <td>[[${dto.writerName}]] <small>([[${dto.writerEmail}]])</small></td>
                    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                </tr>
            </tbody>
        </table>
        <!-- /목록 -->
        <!-- 페이징 출력 -->
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/board/list(
                                                    page=${result.start - 1},
                                                    type=${pageRequestDTO.type},
                                                    keyword=${pageRequestDTO.keyword}
                                                )}" tabindex="-1">
                    Previous
                </a>
            </li>

            <li th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
                th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/board/list(
                                                    page=${page},
                                                    type=${pageRequestDTO.type},
                                                    keyword=${pageRequestDTO.keyword}
                                                )}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board/list(
                                                    page=${result.end + 1},
                                                    type=${pageRequestDTO.type},
                                                    keyword=${pageRequestDTO.keyword}
                                                )}">
                    Next
                </a>
            </li>
        </ul>
        <!-- /페이징 출력 -->

<!--    모달 창 실행-->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">회원등록성공</h5>
                        <button type="button" class="btn-close close-area1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>게시물 등록이 완료되었습니다.</p>
                    </div>
                    <div class="modal-footer">
<!--                        <button type="button" class="btn btn-primary">로그인하기</button>-->
                        <a href="/user/login" class="btn btn-primary">로그인하기</a>
                        <button type="button" class="btn btn-secondary close-area2" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
<!--    /모달 창-->
<!--        register( ) 후 전달되는 msg 값을 확인
    아래 코드에서 const closeBtn 으로 모달을 닫는 버튼들을 지정한다
    해단 버튼이 클릭되었을 때 display 를 none 으로 설정해둔다.
-->
        <script th:inline="javascript">
           // 검색처리
           var searchForm = $("#searchForm");
           $(".btn-search").click( function(e) {
               searchForm.submit();
           } );
           $(".btn-clear").click( function(e) {
               searchForm.empty().submit();
           } );
           // \검색처리

           // 게시물 등록 완료 시 모달 창
           var msg = [[${msg}]];
           console.log(msg);
           // Wait for the DOM to be ready
           document.addEventListener("DOMContentLoaded", function() {

               const modal = document.querySelector(".modal");
               const closeBtn1 = modal.querySelector(".close-area1");
               const closeBtn2 = modal.querySelector(".close-area2");

               closeBtn1.addEventListener("click", function(e) {
                   modal.style.display = "none";
               });
               closeBtn2.addEventListener("click", function(e) {
                   modal.style.display = "none";
               });

               if (msg) {
                   modal.style.display = "block"; // Show the modal
               }
           });
           // \모달 처리

        </script>
<!--       /msg 값 확인 -->
    </th:block>
</th:block>
